[submodule "Terradue.OpenSearch"]
	path = Terradue.OpenSearch
	url = git@github.com:Terradue/DotNetOpenSearch.git
[submodule "DotNetSyndication"]
	path = Terradue.ServiceModel.Syndication
	url = git@github.com:Terradue/DotNetSyndication.git
